:root{
  --text-color: white;
  --bg-color: rgb(50, 50, 50);
  --fg-color: rgb(70, 70, 70);
  /* --accent-color: #FF4136; */
  --accent-color: rgb(70, 70, 70);
  --accent-input-color: #0074D9;
  --accent-text-color: white;
  --scrollbar: rgb(70, 70, 70);
  --scrolltrack: rgb(50, 50, 50);
  --default-shadow-color: rgb(30, 30, 30);
  --default-light-shadow-color: rgba(30, 30, 30, 0.8);
}
